*.vs
*.csproj.user
__UNUSED
[Oo]bj
*.meta


_UnityProject/RandomUsefulThings_ValidationTests/Temp
_UnityProject/RandomUsefulThings_ValidationTests/Logs
_UnityProject/RandomUsefulThings_ValidationTests/Library
_UnityProject/RandomUsefulThings_ValidationTests/UserSettings
